@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

:root{
    --main-font: 500 normal 24px "Poppins"
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
}

body{
    background-color: #ECC8AE;
}

nav{
    position: fixed;
    width: 100%;
    background-color: #2E294E;
    text-align: center;
    height: 55px;
    z-index: 1;
}

nav > ul{
    display: flex;
    justify-content: center;
}

nav > ul > a{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 50px;
    font: var(--main-font);
    overflow: none;
    padding: 10px;
}

nav > ul > a:hover{
    background-color: #1b182e;
}

.image-container{
    width: 100%;
}

#main-cake{
    height: 100vh;
    width: 100%;
}

.main-texts{
    position: absolute;
    top: 30%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #CE01A1;
    text-shadow:#FFFFFF;
    font: var(--main-font)
}

.main-texts > h1, .main-texts > p{
    text-shadow: 2px 1px #FFFFFF;
}

.see-more{
    background-color: #CE01A1;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.story{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    width: 90vw;
}

.image-container-2{
    width: 50vw;
    height: 30%;
    margin-left: 50px;
}

#strawberry-cake{
    width: 45vw;
    height: 650px;
    border-radius: 10px;
}

.story-text{
    width: 40%;
    font: var(--main-font);
    color: #ce01a1;
}

#learn-more{
    background-color: #ce01a1;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

#learn-more:hover{
    cursor: pointer;
}

.baked-goods{
    margin-top: 50px;
    font: var(--main-font);
}

#catalog-title{
    text-align: center;
    color: #ce01a1;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 300px;
    gap: 50px;
    justify-content: center;
}

.products-grid{
    background-color: #ce01a1;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
}

.image-container-3{
    height: 70%;
    width: 100%;
}

.image-container-3 > img{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.reviews{
    margin-top: 50px;
    font: var(--main-font);
}

.reviews-title{
    text-align: center;
    color: #CE01A1;
    font-size: 36px;
}

.cards-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card-review{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #CE01A1;
    height: 400px;
    width: 400px;
    color: #FFFFFF;
    border-radius: 10px;
}

.image-container-4{
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.image-container-4 > img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.user-name{
    text-align: center;
    font: var(--main-font)
}

.user-review{
    width: 300px;
    text-align: center;
    font: var(--main-font)
}

#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.contact-me{
    display: flex;
    flex-direction: column;
    font: var(--main-font);
    width: 50%;
}

#contact-title{
    text-align: center;
    color: #CE01A1;
}

label{
    color: #CE01A1;
}

input[type=text]{
    height: 30px;
    font: var(--main-font);
    background: transparent;
    padding: 5px;
}

input[type=text]::placeholder{
    color: #6e6e6e;
}

textarea{
    font: var(--main-font);
    background: transparent;
    padding: 5px;
}

textarea::placeholder{
    color: #6e6e6e;
}

#submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=button]{
    height: 50px;
    width: 150px;
    font: var(--main-font);
    background-color: #CE01A1;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 25px;
    text-align: center;
}

input[type=button]:hover{
    cursor: pointer;
}

footer{
    background-color: #2E294E;
    width: 100%;
    font: var(--main-font);
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width: 768px){

    nav > ul{
        display: flex;
    }

    .main-texts{
        top: 30%;
        left: 30%;
    }

    .image-container-2{
        width: 630px;
        margin-left: 10px;
    }

    #strawberry-cake{
        width: 100%;
    }

    .story{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .story-text{
        width: 100%;
        text-align: center;
    }

    .products-container{
        display: grid;
        grid-template-columns: repeat(1, 400px);
        grid-auto-rows: 300px;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .cards-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}